@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,500;1,100;1,200&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}


:root{
    --bs-nav-link-color: white;
    --bs-border-width: 10px;
   

}

body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

.z-index-img-title{
    z-index: 1;
}



.leftcontainer{
    background-color: black;
    width: 30vh;
    height: 100vh;
}


.card-img-top {
   
    justify-content: relative;
    position: relative;
    object-fit:cover;
    object-position: center;
    overflow: hidden;
}

.nav-bar{
    position: relative;
    max-height: 100vh;
}

.color-icon{
    color: black;
}

.accordion-item {
    width: 100%;
}