
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

*{
    font-family: 'Poppins', sans-serif;
}


:root{
    --color-text: white;
    --bs-border-width: 10px;
}

body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.leftcontainer{
    background-color: black;
    justify-content: absolute;
    width:30vh;
    height: 100vh;
}


.card-img-top {
   
    justify-content: relative;
    position: relative;
    object-fit:cover;
    object-position: center;
    overflow: hidden;
}

.nav-bar{
    position: relative;
    max-height: 100vh;
}

/* 
 "justify-content": (
      responsive: true,
      property: justify-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      ) */