
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}


:root{
    --bs-nav-link-color: white;
    --bs-border-width: 10px;
   

}

body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: aqua;

}

.z-index-img-title{
    z-index: 1;
}
.full-content{
background-color: black;

}

.leftcontainer{
    background-color: black;
    width: 30vh;
    height: 100vh;
}


.card-img-top {
   
    justify-content: relative;
    position: relative;
    object-fit:cover;
    object-position: center;
    overflow: hidden;
}

.nav-bar{
    position: relative;
    max-height: 100vh;
}

.color-icon{
    color: #87a8d0;
}
